.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.sign,
.login {
  width: 50%;
  margin: 10px;
  opacity: 0; 
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}
.prueba{
  background-color: blueviolet;
  width: 10%;
}
.backgroundInput{
  background: rgba(8, 8, 8, 0.918);
}

.backgroundInput {
  background: transparent; /* Fondo transparente */
  color: white; /* Color de texto blanco */
  border: 1px solid white; /* Borde blanco opcional */
  border-radius: 4px; /* Estilo de borde redondeado opcional */
  padding: 0.375rem 0.75rem; /* Ajuste de relleno para mantener el estilo de Bootstrap */
  transition: background-color 0.2s ease, color 0.2s ease; /* Transiciones suaves */
}

.backgroundInput::placeholder {
  background-color: rgba(255, 255, 255, 0.1); /* Cambia el fondo al enfocar */
  outline: none; /* Quita el contorno al enfocar */
}